include README.md
include LICENSE
include CHANGELOG.md
include pyproject.toml
recursive-include arcadedb_python *.py
recursive-include tests *.py
global-exclude *.pyc
global-exclude __pycache__
global-exclude .pytest_cache
global-exclude *.egg-info
